@import '../../assets/scss/utils';
@import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';

$colour: $main-color;

.nb-container {
  width: 100%;
  height: 100vh;
  @include vendor-prefix(background-image, url('../../assets/images/img-bg-3.jpg'));
  @include vendor-prefix(background-size, cover);
  @include vendor-prefix(background-position-x, right);

  @include media-breakpoint-down(xs) {
    @include vendor-prefix(background-image, url('../../assets/images/img-bg-mobile.jpg'));
  }
}

.nb-color-filter {
  width: 100%;
  height: 100%;
  background-color: rgba(black, 0);
}


.nb-intro-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  margin-top: auto;
  margin-bottom: auto;
  height: 500px;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    bottom: unset;
    top: 15%;
    left: 5%;
  }

  .nb-text-box {
    display: block;
    overflow: hidden;
    height: fit-content;

    h4 {
      width: fit-content;
      display: block;
      position: relative;
      font-size: 54px;
      color: $colour;
      transform: translateY(100%);

      @include media-breakpoint-down(md) {
        font-size: 40px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 36px;
      }

      &:not(#title) {
        color: gray;
        margin-bottom: 0;
      }
    }
  }
}

.nb-cta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-top: 50px;
  width: fit-content;
  cursor: pointer;

  span {
    text-align: center;
    font-size: 20px;
    color: $colour;
  }

  .nb-line {
    width: 3px;
    height: 55px;
    background-color: $colour;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10px;
    transition: height .5s ease-out;
  }

  &:hover {
    .nb-line {
      height: 80px;
    }

  }

  @include media-breakpoint-down(xs) {
    span {
      font-size: 15px;
      font-weight: 500;
    }
    .nb-line {
      height: 35px;
      margin-top: 6px;
    }
  }
}


@media (orientation: landscape) and (max-width: 575.98px) {
  br {
    display: none !important;
  }
}



// Animation classes
.nb-slide-up-1 {
  @include nb-appear(.7s);
}

.nb-slide-up-2 {
  @include nb-appear(1.1s);
}

.nb-slide-up-3 {
  @include nb-appear(1.2s);
}

.nb-slide-up-4 {
  @include nb-appear(1.3s);
}