<div class="nb-container">
  <div class="nb-color-filter">
    <div class="nb-intro-div nb-appear" *ngIf="showText">
      <div class="nb-text-box">
        <h4 id="title" class="nb-slide-up-1">Hi, I'm Islam.</h4>
      </div>
      <div class="nb-text-box">
        <h4 class="nb-slide-up-2">I use data, <br class="d-block d-sm-none d-md-noney"> programming,</h4>
      </div>
      <div class="nb-text-box">
        <h4 class="nb-slide-up-3">and design to <br class="d-block d-sm-none d-md-noney"> solve useful</h4>
      </div>
      <div class="nb-text-box">
        <h4 class="nb-slide-up-4">business <br class="d-block d-sm-none d-md-noney"> problems.</h4>
      </div>
    </div>
    <a [routerLink]="[ '/projects' ]">
      <div class="nb-cta px-5">
        <span class="mx-auto">
          Check out my work
        </span>
        <div class="nb-line mx-auto"></div>
      </div>
    </a>

  </div>
</div>