<div class="nb-container">
  <div class="nb-small-container">
    <h2 class="text-center">What is the problem you want to solve?</h2>
    <h3 class="text-center">Let's get in touch and solve it, together.</h3>
    <div id="nb-btns" class="row mx-0 w-100 no-gutters align-items-center justify-content-center">

      <div class="col-lg-2 col-md-3 col-sm-12">
        <a target="_blank" href="https://www.linkedin.com/in/islamsafsaf/">
          <div class="nb-link">
            <span>
              <svg class="mx-auto" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" width="49.652px" height="49.652px" viewBox="0 0 49.652 49.652" style="enable-background:new 0 0 49.652 49.652;"
                xml:space="preserve">
                <g>
                  <g>
                    <g>
                      <path d="M29.35,21.298c-2.125,0-3.074,1.168-3.605,1.988v-1.704h-4.002c0.052,1.128,0,12.041,0,12.041h4.002v-6.727
                     c0-0.359,0.023-0.72,0.131-0.977c0.29-0.72,0.948-1.465,2.054-1.465c1.448,0,2.027,1.104,2.027,2.724v6.442h4.002h0.001v-6.905
                     C33.958,23.019,31.983,21.298,29.35,21.298z M25.742,23.328h-0.025c0.008-0.014,0.02-0.027,0.025-0.041V23.328z" />
                      <rect x="15.523" y="21.582" width="4.002" height="12.041" />
                      <path d="M24.826,0C11.137,0,0,11.137,0,24.826c0,13.688,11.137,24.826,24.826,24.826c13.688,0,24.826-11.138,24.826-24.826
                     C49.652,11.137,38.516,0,24.826,0z M37.991,36.055c0,1.056-0.876,1.91-1.959,1.91H13.451c-1.08,0-1.957-0.854-1.957-1.91V13.211
                     c0-1.055,0.877-1.91,1.957-1.91h22.581c1.082,0,1.959,0.856,1.959,1.91V36.055z" />
                      <path d="M17.551,15.777c-1.368,0-2.264,0.898-2.264,2.08c0,1.155,0.869,2.08,2.211,2.08h0.026c1.396,0,2.265-0.925,2.265-2.08
                     C19.762,16.676,18.921,15.777,17.551,15.777z" />
                    </g>
                  </g>
                </g>
                <g> </g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g>
                </g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
              </svg>
              <h6>LinkedIn</h6>
            </span>
          </div>
        </a>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-12">
        <a target="_blank" href="https://github.com/issaf">
          <div class="nb-link">
            <span>
              <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                <path d="m256 0c-140.609375 0-256 115.390625-256 256 0 119.988281 84.195312 228.984375 196 256v-84.695312c-11.078125 2.425781-21.273438 2.496093-32.550781-.828126-15.128907-4.464843-27.421875-14.542968-36.546875-29.910156-5.816406-9.8125-16.125-20.453125-26.878906-19.671875l-2.636719-29.882812c23.253906-1.992188 43.371093 14.167969 55.3125 34.230469 5.304687 8.921874 11.410156 14.152343 19.246093 16.464843 7.574219 2.230469 15.707032 1.160157 25.183594-2.1875 2.378906-18.972656 11.070313-26.074219 17.636719-36.074219v-.015624c-66.679687-9.945313-93.253906-45.320313-103.800781-73.242188-13.976563-37.074219-6.476563-83.390625 18.238281-112.660156.480469-.570313 1.347656-2.0625 1.011719-3.105469-11.332032-34.230469 2.476562-62.546875 2.984375-65.550781 13.078125 3.867187 15.203125-3.890625 56.808593 21.386718l7.191407 4.320313c3.007812 1.792969 2.0625.769531 5.070312.542969 17.371094-4.71875 35.683594-7.324219 53.726563-7.558594 18.179687.234375 36.375 2.839844 54.464844 7.75l2.328124.234375c-.203124-.03125.632813-.148437 2.035157-.984375 51.972656-31.480469 50.105469-21.191406 64.042969-25.722656.503906 3.007812 14.128906 31.785156 2.917968 65.582031-1.511718 4.65625 45.058594 47.300781 19.246094 115.753906-10.546875 27.933594-37.117188 63.308594-103.796875 73.253907v.015624c8.546875 13.027344 18.816406 19.957032 18.761719 46.832032v105.722656c111.808594-27.015625 196-136.011719 196-256 .003906-140.609375-115.386719-256-255.996094-256zm0 0" /></svg>
              <h6>GitHub</h6>
            </span>
          </div>
        </a>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-12">
        <div class="nb-link" ngxClipboard [cbContent]="email" (cbOnSuccess)="copiedInfo()">
          <span>
            <svg class="mx-auto" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;"
              xml:space="preserve">
              <g>
                <g>
                  <g id="circle_copy">
                    <g>
                      <path d="M28.974,28.651c-0.767,0.947-1.15,2.265-1.15,3.949c0,2.676,1.018,4.012,3.051,4.012c2.159,0,3.333-1.646,3.521-4.943
                       l0.219-4.122c-0.752-0.211-1.569-0.316-2.456-0.316C30.801,27.229,29.74,27.703,28.974,28.651z M32,0C14.327,0,0,14.327,0,32
                       s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M43.312,34.639c-0.459,1.242-1.105,2.205-1.939,2.891
                       c-0.835,0.685-1.794,1.027-2.879,1.027c-0.896,0-1.653-0.274-2.27-0.822c-0.615-0.547-0.979-1.248-1.095-2.102h-0.125
                       c-0.418,0.917-1.015,1.633-1.792,2.148c-0.775,0.517-1.697,0.773-2.761,0.773c-1.564,0-2.788-0.539-3.669-1.619
                       c-0.881-1.078-1.322-2.545-1.322-4.398c0-2.148,0.615-3.894,1.847-5.236c1.23-1.343,2.847-2.014,4.85-2.014
                       c0.709,0,1.513,0.065,2.408,0.197c0.897,0.132,1.705,0.313,2.426,0.545l-0.391,7.424v0.348c0,1.875,0.692,2.812,2.08,2.812
                       c0.948,0,1.721-0.565,2.314-1.698c0.595-1.132,0.893-2.604,0.893-4.414c0-1.906-0.387-3.575-1.158-5.008
                       c-0.771-1.432-1.869-2.535-3.293-3.31c-1.424-0.773-3.059-1.161-4.903-1.161c-2.326,0-4.35,0.487-6.07,1.462
                       c-1.721,0.974-3.035,2.364-3.943,4.17c-0.906,1.806-1.36,3.894-1.36,6.263c0,3.212,0.839,5.683,2.519,7.408
                       c1.68,1.728,4.1,2.591,7.259,2.591c2.19,0,4.463-0.453,6.821-1.357v2.101c-2.002,0.885-4.275,1.327-6.821,1.327
                       c-3.785,0-6.725-1.051-8.815-3.151s-3.137-5.036-3.137-8.806c0-2.738,0.559-5.176,1.674-7.314
                       c1.116-2.137,2.707-3.793,4.771-4.967c2.065-1.175,4.433-1.762,7.104-1.762c2.241,0,4.235,0.477,5.983,1.43
                       c1.746,0.953,3.098,2.306,4.051,4.06c0.951,1.751,1.43,3.77,1.43,6.055C44,32.025,43.771,33.396,43.312,34.639z" />
                    </g>
                  </g>
                </g>
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </svg>
            <h6>Email</h6>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="nb-notifcation" [ngClass]="{'nb-show-notif': showNotif}" (click)="showNotif = false">
  <img src="../../assets/images/fi-success.svg" alt="">
  Email copied
</div>

<div class="nb-footer w-100"> Copyright © Issafworks. All rights reserved. </div>