@import '../../assets/scss/utils';
@import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';

$footer-height: 45px;
$adjusted-height: calc(100vh - #{$footer-height});
$color: $main-color;
// $color: #353839;

.nb-container {
  position: relative;
  height: $adjusted-height;
  background-color: $lightgray;

  @include media-breakpoint-down(sm) {
    @media (orientation: landscape) {
      height: 140vh;
    }
  }

  .nb-small-container {
    height: 370px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    @include media-breakpoint-down(sm) {
      height: 340px;
      h2 {
        font-size: 17px;
      }

      h3 {
        font-size: 16px;
      }
    }

    // Social link buttons
    #nb-btns {
      height: 200px;
      padding-top: 80px;
      @include media-breakpoint-down(sm) {
        padding-top: 15px;
        height: 285px;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      .nb-link {
        width: 180px;
        height: 180px;
        margin: 10px auto;
        background-color: white;
        @include vendor-prefix(box-shadow, '0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)');
        border-radius: 5px;
        border-bottom: 5px solid $color;
        transition: box-shadow .2s ease-in-out;
        cursor: pointer;

        @include media-breakpoint-down(lg) {
          width: 160px;
          height: 160px;
        }

        @include media-breakpoint-down(sm) {
          width: 200px;
          height: 70px;
        }

        &:hover {
          @include vendor-prefix(box-shadow, '0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)');

        }

        span {
          height: 92px;
          width: fit-content;
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;

          @include media-breakpoint-down(sm) {
            width: 150px;
            height: 40px;
          }

          svg {
            width: 50px;
            height: 50px;
            display: block;

            path,
            rect {
              fill: $color;
            }

            @include media-breakpoint-down(sm) {
              display: inline-block;
              width: 40px;
              height: 40px;
            }

          }

          h6 {
            margin-top: 15px;
            margin-left: 0px;
            text-align: center;

            @include media-breakpoint-down(sm) {
              display: inline-block;
              margin-left: 20px;
              margin-top: 0px;
              text-align: left;
            }
          }
        }


      }

    }
  }
}

#nb-notifcation {
  position: fixed;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  background-color: $color;
  color: black;
  text-align: center;
  @include vendor-prefix(transform, translateY(100%));
  transition: transform .2s ease-out;
  @include vendor-prefix(box-shadow, '0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)');
  cursor: pointer;

  img {
    width: 30px;
    margin-right: 15px;
  }

  &.nb-show-notif {
    @include vendor-prefix(transform, translateY(0));
  }
}

.nb-footer {
  height: $footer-height;
  line-height: $footer-height;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 14px;
}