<div id="nav-icon1" [ngClass]="{'open': isMenuOpen}" (click)="isMenuOpen = !isMenuOpen">
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="menu" [ngClass]="{'open': isMenuOpen}">
  <div class="item"><a (click)="isMenuOpen = false" [routerLink]="[ '/' ]">Home</a></div>
  <div class="item"><a (click)="isMenuOpen = false" [routerLink]="[ '/projects' ]">Projects</a></div>
  <div class="item"><a (click)="isMenuOpen = false" [routerLink]="[ '/contact' ]">Contact</a></div>
</div>