@import '../../assets/scss/utils';

#nav-icon1 {
  z-index: 15;
  width: 36px;
  height: 31px;
  position: fixed;
  right: 40px;
  top: 30px;
  @include vendor-prefix(transform, rotate(0deg));
  @include vendor-prefix(transition, .5s ease-in-out);
  cursor: pointer;
  &:hover {
    span {
      background-color: $main-color; 
    }
  }
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: gray;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  @include vendor-prefix(transform, rotate(0deg));
  @include vendor-prefix(transition, .25s ease-in-out);
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 11px;
}

#nav-icon1 span:nth-child(3) {
  top: 22px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  @include vendor-prefix(transform, rotate(135deg));
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -55px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  @include vendor-prefix(transform, rotate(-135deg));
}


.menu {
  a {
    text-decoration: none;
    color: inherit;
  }

  z-index: 10;
  position: fixed;
  right: 33px;
  top: 22px;
  padding-right: 80px;
  padding-left: 30px;
  background-color: white;
  border-radius: 5px;
  width: fit-content;
  @include vendor-prefix(box-shadow, '0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08)');
  @include vendor-prefix(transform-origin, right);
  @include vendor-prefix(transform, scaleX(0));
  transition: transform .2s ease-in-out;

  .item {
    display: inline-block;
    width: fit-content;
    padding: 0 15px;
    height: 55px;
    line-height: 55px;
    border-bottom: 4px solid rgba($main-color, 0);
    cursor: pointer;
    opacity: 0;
    transition: border-bottom .15s ease-in-out, opacity .25s .26s ease-in-out;

    &:hover {
      border-bottom: 4px solid rgba($main-color, 1);
    }
  }
}

.menu.open {
  @include vendor-prefix(transform, scaleX(1));

  .item {
    opacity: 1;
  }
}


@include media-breakpoint-down(xs) {
  #nav-icon1 {
    right: 22px;
    top: 15px;
  }

  .menu {
    padding-left: 8px;
    padding-right: 62px;
    right: 17px;
    top: 10px;

    .item {
      padding: 0 8px;
    }
  }
}