@import '../../assets/scss/utils';
@import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';

// Mixin
@mixin bg-img {
  width: 100%;
  height: 100%;
  @include vendor-prefix(background-size, cover);
  @include vendor-prefix(background-position, center);
}


slide {
  width: 100%;

  .row #nb-img,
  .row #nb-infos {
    height: 100vh;
    transition: transform .5s ease-in-out;

    @include media-breakpoint-down(sm) {
      @media (orientation: landscape) {
        height: 160vh;
      }
    }

  }

  #nb-img {
    @include bg-img;

  }

  #nb-infos {
    @include media-breakpoint-down(md) {
      @include bg-img;
    }

    color: white;

    .nb-color-filter {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: rgba(black, 1);

      @include media-breakpoint-down(md) {
        background-color: rgba(black, .75);
      }

      .nb-details {
        position: absolute;
        left: 16%;
        top: 0;
        bottom: 0;
        margin: auto 0;
        height: 70vh;

        @media (max-width: 330px) {
          height: 85vh;
        }
        h1 {
          width: 75%;
          font-size: 52px;

          @include media-breakpoint-down(xs) {
            font-size: 32px;
            width: 83%;
          }
        }

        .nb-tech-stack-container {
          font-size: 18px;
          text-transform: capitalize;
          margin-bottom: 48px;

          @include media-breakpoint-down(xs) {
            margin-bottom: 28px;
            font-size: 14px;
          }
        }

        p {
          width: 65%;
          font-size: 25px;

          @include media-breakpoint-down(xs) {
            width: 78%;
            font-size: 16px;
          }
        }

        .nb-a-tag-container {
          width: fit-content;
          margin-top: 15%;
        }

        a {
          text-decoration: none;
          color: inherit;
        }

        .nb-btn {
          border: 1px solid white;
          height: 50px;
          line-height: 50px;
          width: 110px;
          font-size: 19px;
          text-align: center;
          cursor: pointer;
          background-color: rgba(white, 0);
          letter-spacing: 1px;
          transition: background-color .25s ease-in-out;

          @include media-breakpoint-down(xs) {
            font-size: 14px;
          }

          &:hover {
            background-color: rgba(white, 1);
            color: black;
          }
        }
      }


    }
  }

}


// Animation functions
.hide-left {
  @include vendor-prefix(transform, translateX(-100%));
}

.hide-right {
  @include vendor-prefix(transform, translateX(100%));
}