<carousel [interval]=false [showIndicators]=false (activeSlideChange)="switch($event)">
  <slide *ngFor="let i of keys">
    <div class="row mx-0 w-100 h-100 no-gutters align-items-start justify-content-center">

      <div id="nb-img" [ngClass]="{'hide-left': !showProject}" class="col col-6 d-lg-block d-md-none d-sm-none d-none"
        [ngClass]="{'slide-animation': isProjectVisible}" [ngStyle]="{'background-image': 'url(' + projects[i]['bgImg'] + ')'}"></div>

      <div id="nb-infos" [ngClass]="{'hide-right': !showProject}" class="col col-lg-6 col-md-12" [ngClass]="{'slide-animation': isProjectVisible}"
        [ngStyle]="{'background-image': 'url(' + projects[i]['bgImg'] + ')'}">
        <div class="nb-color-filter">
          <div class="nb-details">
            <h1 class="mb-2">{{ projects[i]['title'] }}</h1>
            <div class="nb-tech-stack-container mt-3">
              <div *ngFor="let item of projects[i]['stack']">{{ item }}</div>
            </div>
            <p>{{ projects[i]['description'] }}</p>
            <div class="nb-a-tag-container" *ngIf="projects[i]['urlType'] === 'external'">
              <a href="{{ projects[i]['url'] }}" target="_blank">
                <div class="nb-btn d-inline-block mr-4"> OPEN </div>
              </a>
              <a *ngIf="projects[i]['githubUrl']" href="{{ projects[i]['githubUrl'] }}" target="_blank">
                <div class="nb-btn d-inline-block"> GITHUB </div>
              </a>
            </div>
            <div class="nb-a-tag-container" *ngIf="projects[i]['urlType'] === 'internal'">
              <a *ngIf="projects[i]['urlType'] === 'internal'" [routerLink]="projects[i]['url']">
                <div class="nb-btn"> OPEN </div>
              </a>
              <a *ngIf="projects[i]['githubUrl']" href="{{ projects[i]['githubUrl'] }}" target="_blank">
                <div class="nb-btn d-inline-block"> GITHUB </div>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </slide>
</carousel>