@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

// =========
// Variables
// =========
$desktop-navbar: 60px;
$mobil-navbar: 50px;
$lightgray: #f6f6f6;
// $main-color: #F5B041; // yellow
// $main-color: #353839; // black
$main-color: #FF851B; // orange

// ===================
// Border radius sides
// ===================
@mixin nb-border-radius-top($x) {
  border-top-left-radius: $x;
  border-top-right-radius: $x;
}

@mixin nb-border-radius-left($x) {
  border-top-left-radius: $x;
  border-bottom-left-radius: $x;
}

@mixin nb-border-radius-bottom($x) {
  border-bottom-left-radius: $x;
  border-bottom-right-radius: $x;
}

@mixin nb-border-radius-right($x) {
  border-top-right-radius: $x;
  border-bottom-right-radius: $x;
}


// ===============
// Vendor prefixes
// ===============
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}


// =====================================
// Animation for text appearing slide up
// =====================================
@mixin nb-appear($delay) {
  @include vendor-prefix(animation, slideUp .5s ease-in-out $delay 1 normal forwards);

  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes slideUp {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0);
    }
  }
  @-moz-keyframes slideUp {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0);
    }
  }

}